<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UtilisateurServlet</servlet-name>
        <servlet-class>com.mutamba.controller.UtilisateurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.mutamba.controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReponseServlet</servlet-name>
        <servlet-class>com.mutamba.controller.ReponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionnaireServlet</servlet-name>
        <servlet-class>com.mutamba.controller.QuestionnaireServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParcoursServlet</servlet-name>
        <servlet-class>com.mutamba.controller.ParcoursServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupprUtilisateurServlet</servlet-name>
        <servlet-class>com.mutamba.controller.UtilisateurSupprServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UtilisateurModifServlet</servlet-name>
        <servlet-class>com.mutamba.controller.UtilisateurModifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompetenceServlet</servlet-name>
        <servlet-class>com.mutamba.controller.CompetenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompetenceModifServlet</servlet-name>
        <servlet-class>com.mutamba.controller.CompetenceModifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompetenceSupprServlet</servlet-name>
        <servlet-class>com.mutamba.controller.CompetenceSupprServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionnaireModifServlet</servlet-name>
        <servlet-class>com.mutamba.controller.QuestionnaireModifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionnaireSupprServlet</servlet-name>
        <servlet-class>com.mutamba.controller.QuestionnaireSupprServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionModifServlet</servlet-name>
        <servlet-class>com.mutamba.controller.QuestionModifServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionSupprServlet</servlet-name>
        <servlet-class>com.mutamba.controller.QuestionSupprServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mutamba.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mutamba.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PwdOublieServlet</servlet-name>
        <servlet-class>com.mutamba.controller.PwdOublieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreerParcoursServlet</servlet-name>
        <servlet-class>com.mutamba.controller.CreerParcoursServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UtilisateurServlet</servlet-name>
        <url-pattern>/admin/utilisateurs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/admin/questions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReponseServlet</servlet-name>
        <url-pattern>/admin/reponses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionnaireServlet</servlet-name>
        <url-pattern>/admin/questionnaires</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParcoursServlet</servlet-name>
        <url-pattern>/stagiaire/parcours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupprUtilisateurServlet</servlet-name>
        <url-pattern>/admin/suppr_utilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UtilisateurModifServlet</servlet-name>
        <url-pattern>/admin/modif_utilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompetenceServlet</servlet-name>
        <url-pattern>/admin/competences</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompetenceModifServlet</servlet-name>
        <url-pattern>/admin/modif_competence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompetenceSupprServlet</servlet-name>
        <url-pattern>/admin/suppr_competence</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionnaireModifServlet</servlet-name>
        <url-pattern>/admin/modif_questionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionnaireSupprServlet</servlet-name>
        <url-pattern>/admin/suppr_questionnaire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionModifServlet</servlet-name>
        <url-pattern>/admin/modif_question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionSupprServlet</servlet-name>
        <url-pattern>/admin/suppr_question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.mutamba.controller.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>/stagiaire/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>PwdOublieServlet</servlet-name>
        <url-pattern>/motdepasseoublie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreerParcoursServlet</servlet-name>
        <url-pattern>/stagiaire/creer_parcours</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
